/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}
/* Remove default margin */

a{
    color:black;
    font-family:sans-serif;
  }
  h1{
    font-size:7em;
    color: honeydew;
    display:inline-block;
    font-family:"Archivo Black";
    padding:10px 20px;
    transform:rotate(-5deg);
   
  }
  
  .stamp-text{
    -webkit-mask-size: contain;
    -webkit-mask-image: url("http://www.textures4photoshop.com/tex/thumbs/crack-grunge-texture-PNG-thumb24.png");
  }

body {
    background-image: linear-gradient(#7f8fa6, #2f3640);
}
h1 {
place-items: center;
display: grid;
height: 90vh;
width: 100%;

}
h2{
    margin-top: 100px;
    font-size: 18vh;
    color: honeydew;
    line-height: 0.8;
    
},
h3,
h4,
h5,
h6 

p {
color: honeydew;
font-size: 4vh;
}
   
html {
    overflow-x: hidden;

    /* Set core body defaults */
    body {
        min-height: 100vh;
        font-size: 100%;
        line-height: 1.5;
        text-rendering: optimizeSpeed;
        overflow-x: hidden;
        font-size: 50px;
    }
.my-element {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}
   

    /* Make images easier to work with */
    img {
        display: block;
        max-width: 100%;
        
    }

    /* Inherit fonts for inputs and buttons */
    input,
    button,
    textarea,
    select {
        font-family: 'Archivo Black', sans-serif;
    }

    /* Remove all animations and transitions for people that prefer not to see them */
    @media (prefers-reduced-motion: reduce) {
        * {
            animation-duration: 0.01ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.01ms !important;
            scroll-behavior: auto !important;
        }
    }

    /* Fin du CSS Reset */